/*Author: Irtaza Inam/ Profolio UI
Team: Tech-Zameen
Date: 21-12-2020
Purpose: Table and Olx Listing Task Css
Ticket ID: ZNWEB-7341
*/

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.position-relative {
    position: relative;
}

.border-left-0 {
    border-left: 0px !important;
}

.border-right-0 {
    border-right: 0px !important;
}

.border-top-0 {
    border-top: 0px !important;
}

.border-bottom-0 {
    border-bottom: 0px !important;
}

#content.content_1200 {
    width: 1100px;
}

#content.content_1200 .rightcolumn_div {
    width: 83.2% !important;
}

#content.content_1200 .listing-property-profolio .col-9 {
    width: 994px;
}

.listing-property-profolio .mass_action {
    margin-top: 0px;
}

#recently .box_body {
    margin-bottom: 82px !important;
    width: 100% !important;
}

#inventory_data .tabel {
    overflow: unset;
}

.box_body {
    width: 100% !important;
    position: relative;
}

.mid-sec {
    max-width: 1040px;
    margin: 200px auto;
    font-family: Arial, sans-serif;
}

.ant-table {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    position: relative;
    z-index: 0;
    background: #fff;
    margin-top: 0px !important;
}

.olx-hide {
    display: none !important;
}

.quota-used .table-inside tr:nth-child(1).olx-hide+tr td {
    border-top: none;
}

.main-table {
    width: 100%;
    table-layout: auto;
}

.position-absolute-icon {
    position: absolute;
    left: 0;
    top: 0;
}

.listing_table {
    margin-bottom: 0px;
    border-collapse: collapse;
}

.list-table-left {
    min-width: 1001px;
}

#content.content_1200 .list-table-left {
    min-width: 996px;
}

.deleted_txt,
.rejected_txt,
.expired_txt,
.downgraded_txt {
    position: relative !important;
}

.deleted_txt .intimation-icon {
    cursor: pointer;
    right: -15px !important;
    top: 45% !important;
    transform: translateY(-45%) !important;
}

.downgraded_txt .intimation-icon {
    cursor: pointer;
    right: -9px !important;
    top: 45% !important;
    transform: translateY(-45%) !important;
}

.intimation-icon.price {
    right: -3px;
    top: 4px !important;
}

.instalmet_ovrlib div {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin-bottom: 10px;
}

.rejected_txt .intimation-icon {
    right: -18px !important;
    top: 1px !important;
}

.expired_txt .intimation-icon {
    right: 6px !important;
    top: 11px !important;
}

.inventory-div-table .expired_txt .intimation-icon {
    top: 11px !important;
}

.margin-0 {
    margin: 0px !important;
}

.tr-col9,
.tr-col3 {
    height: 86px;
}

.tr-col9 td,
.tr-col3 td {
    height: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.listing-property-profolio .col-9 {
    width: 850px;
}

.listing-property-profolio .col-3 {
    width: 150px;
}

.listing-property-profolio .id-selector,
.listing-property-profolio .selector-id-table {
    padding-left: 0px !important;
}

.listing-property-profolio .details-listing-table {
    padding: 8px 0 8px 15px !important;
}

.listing-property-profolio .paginate .page_x_of_y {
    margin-right: 15px !important;
}

.listing-property-profolio .main-table {
    margin-bottom: 0px !important;
}

.col-9 {
    width: 1001px;
    vertical-align: top;
    display: block;
    float: left;
}

.intimation-icon {
    vertical-align: text-top;
    position: absolute;
    top: 42% !important;
    transform: translate(-42%) !important;
    left: auto;
    right: 16px
}

.intimation-icon.dicon {
    right: 10px;
}

.listed-date .intimation-icon {
    top: 27% !important;
    transform: translate(-27%) !important;
    right: 20px !important;
}

.table-listdate.multirow .listed-date .intimation-icon {
    right: 25px !important;
    top: 46% !important;
    transform: translateY(-46%) !important;
}

#inventory_result .table-listdate.multirow .listed-date .intimation-icon {
    right: 22px !important;
}

.listing-property-profolio .table-listdate.multirow .listed-date .intimation-icon {
    right: 30px !important;
}

.listed-date {
    width: 114px;
    padding: 0px 0px 0px 0px !important;
    position: relative;
}

.quota-used {
    width: 40px;
    padding: 0px 0px 0px 0px !important;
}

.quota-image {
    width: 40px;
    padding: 0px 0px 0px 0px !important;
}

.health-toltip {
    width: 37px;
    padding: 0px 10px 0px 0px !important;
}

.table-location {
    width: 65px;
    padding: 0px 30px 0px 0px !important;
    position: relative;
}

.table-location .intimation-icon {
    right: 13px;
}

.selector-id-table {
    padding: 0px 0px 0px 10px !important;
    width: 45px;
}

.property-type-table {
    padding: 0px 5px 0px 0px !important;
    width: 60px;
}

.title-details-table {
    width: 55px;
    padding: 0px 15px 0px 0px !important;
}

.title-price-table {
    width: 67px;
    padding: 0px 5px 0px 0px !important;
}

.title-status-table {
    width: 45px;
    padding: 0px 10px 0px 0px !important;
}

.title-view-table {
    width: 40px;
    padding: 0px 5px 0px 0px !important;
}

/*======= Inventory Table Css Starts ========*/

.selector-id-table.inventory {
    padding: 0px 0px 0px 13px !important;
    width: 35px;
}

.checkbox-inventor-table {
    padding: 0px 5px 0px 15px !important;
}

.inventory-div-table .property-type-table {
    padding: 0px 0px 0px 0px !important;
    width: 69px;
}

.inventory-div-table .table-location,
.inventory-div-table .listed-date {
    width: 70px;
    padding: 0px 24px 0px 0px !important;
    position: relative;
}

.inventory-div-table .intimation-icon {
    right: 10px;
    top: 41%;
    transform: translateY(-41%);
}

.paginate_inventory {
    padding-left: 10px !important;
    box-sizing: border-box;
}

.inventory_sort {
    padding-left: 10px !important;
    box-sizing: border-box;
}

.sl_numrow {
    border-radius: 4px;
}

.search-box {
    background-color: #669933;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 6px;
}

/* input,
select,
textarea {
    border-radius: 1px;
} */

.radius-4p {
    border-radius: 4px;
    border-color: rgb(133, 133, 133) !important;
}

.cm_combo.style-update {
    border-radius: 4px !important;
    border-color: rgba(113, 113, 113) !important;
    padding: 0px !important;
}

.frm_inventorysearch .search_div input {
    border-radius: 4px !important;
    border-color: rgba(113, 113, 113) !important;
}

.frm_inventorysearch .search_div .cm_combo_img {
    background: url('https://assets.zameen.com/profolio/images/profolio_select_arrow1_4.png') !important;
    background-repeat: no-repeat !important;
    position: relative;
    top: 5px;
    width: 13px !important;
    height: 8px !important;
    right: 5px !important;
}

#txt_status_option {
    z-index: 11;
    position: relative;
    background: transparent !important;
    position: relative;
    background: url('https://assets.zameen.com/profolio/images/profolio_select_arrow1_4.png') 97% 58% !important;
    background-repeat: no-repeat !important;
    content: "";
    left: auto;
    z-index: 111;
    border: 1px solid #707070;
}

#div_status_option {
    z-index: 111;
    border: 1px solid #707070 !important;
}

/*.col-9::-webkit-scrollbar {
  height:15px;
  width:5px;
}
 */

/**,
 ::after,
 ::before {
    box-sizing: border-box;
}*/

.listing_table .thead-light th {
    color: #1F1F1F;
    background-color: #F0F0F0;
    border-color: #F0F0F0;
    font-weight: bold;
    font-size: 12px;
}

.listing_table thead th {
    vertical-align: middle;
    padding: 8px 0px 8px 0px;
    text-align: left;
    white-space: nowrap;
}

.listing_table td,
.listing_table th {
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.listing_table tbody>tr:first-child>td {
    border-top: 0px none;
    background-color: transparent;
}

.listing_table tr>td {
    color: #333333;
    padding: 8px;
}

.listing_table tr.inactive>td,
.listing_table tr.inactive>td a {
    color: lightgrey !important;
}

.listing_table.list-table-left tr>td {
    /*padding:12px 0px;*/
    padding: 0px;
    height: 76px;
    border-top: 0px;
    vertical-align: middle;
}

.table-platform {
    width: 55px;
}

.table-listdate {
    width: 93px;
}

.table-propstatus {
    width: 60px;
}

.table-listing-action {
    width: 100px;
    padding-right: 8px !important;
}

.table-listing-action .dropdown {
    float: right;
}

#recently .box_body {
    margin-bottom: 82px !important;
    padding: 0px 0px 1% !important;
}

#maincontent {
    padding-bottom: 22px;
    overflow: unset;
}

.list-table-left tr:nth-child(even)>td {
    background: #f5f5f5;
}

#mybayut_tabs li {
    margin: 0 4px 0 0
}

.listing_table tr:nth-child(even)>td .table-inside>tr>td {
    background: #fff;
}

.list-table-right tr:nth-child(even)>td>.table-inside tr>td {
    background: #f5f5f5;
}

.list-table-right tr>td {
    border-top: 0px none;
    padding: 8px 0px 0px 0px;
    background-color: #ffffff;
    height: 68px;
}

.list-table-right tr>td>.table-inside tr>td {
    border-top: 1px solid #dee2e6;
}

.list-table-right tr>td>.table-inside tr:first-child>td {
    border-top: 0px none;
}

.list-table-right tr:nth-child(even)>td {
    background: #f5f5f5;
}

.list-table-right tr:nth-child(even)>td {
    background: #f5f5f5;
}

.table-inside tr:nth-child(even)>td {
    background: #fff;
}

/*.listing_table>tbody tr>td:last-child,
.listing_table>thead tr>th:last-child {
    position: sticky;
    z-index: 10;
    background-color: #ffffff;
    right: 0;
	padding:8px 0px;
}

.listing_table>thead tr>th:nth-last-child(2),
.listing_table>tbody tr>td:nth-last-child(2) {
    position: sticky;
    z-index: 11;
    background-color: #ffffff;
    right: 217px;
	padding:8px 0px;
}

.listing_table>thead tr>th:nth-last-child(2) {
    background-color: #F0F0F0;
}

.listing_table>thead tr>th:last-child {
    background-color: #F0F0F0;
}*/

.listing_table a {
    color: #333333;
    text-decoration: none;
}

.listing_table .listed-date.olx-date a {
    margin-top: 4px;
    display: inline-block;
}

.table-listdate.multirow .listed-date.olx-date .intimation-icon {
    top: 16px !important;
}

.listing_table .listed-date.z-date a {
    padding-top: 3px;
    display: inline-block;
}

.table-listdate.multirow .listed-date.z-date .intimation-icon {
    top: 16px !important;
}

.title-status-table span {
    padding-top: 4px;
    display: inline-block;
}

.title-status-table span .rejected_txt span,
.title-status-table span .expired_txt span {
    padding-top: 0px
}

.tooltip-wrapper {
    position: relative;
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
}

.tooltip-wrapper .tooltip {
    background: #ffffff;
    bottom: 100%;
    border: 1px solid #E2E2E2;
    display: block;
    left: 0px;
    margin-bottom: 5px;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    min-width: 173px;
    max-width: 180px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    -moz-box-shadow: 0px 3px 6px #00000029;
    -ms-box-shadow: 0px 3px 6px #00000029;
    -o-box-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 3px 6px #00000029;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: Arial;
    z-index: 1111;
}

.tooltip-wrapper .tooltip h4 {
    color: #00A651;
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 14px;
    margin-top: 0px;
}

.tooltip-wrapper .tooltip.post-tip h4 {
    color: #00A651;
}

.tooltip-wrapper .tooltip.post-tip p {
    font-size: 10px;
    line-height: 12px;
}

.tooltip-wrapper .tooltip.super-hot-tip h4 {
    color: #E72B2B;
}

.tooltip-wrapper .tooltip.blue-tip h4 {
    color: #0793EA;
}

.tooltip-wrapper .tooltip.orange-tip h4 {
    color: #E9B142
}

.tooltip-wrapper .tooltip p {
    color: #1F1F1F;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.tooltip-wrapper .tooltip button,
.list-view-post-add {
    color: #ffffff;
    background: #33A137;
    font-size: 10px;
    font-weight: bold;
    border: 0px;
    min-height: 23px;
    min-width: 85px;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.tooltip-wrapper .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

.tooltip-wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.lte8 .tooltip-wrapper .tooltip {
    display: none;
}

.lte8 .tooltip-wrapper:hover .tooltip {
    display: block;
}

.table-inside {
    width: 100%;
}

.table-inside tr>td {
    padding: 0px;
    height: 30px;
}

.table-inside tr:nth-child(2)>td {
    padding-top: 0px;
    background-color: transparent;
    border-top: 1px solid #E6E6E6;
}

.multirow td {
    height: 31px !important;
}

.platform-logo {
    z-index: 100;
}

.platform-logo>img {
    max-width: 18px;
    position: relative;
    top: 1px;
    left: 15px;
}

.platform-logo.logo-inactive>img {
    opacity: .4;
}

.platform-logo>img.olx-tag {
    max-width: 22px;
    position: relative;
    top: 2px;
    left: 15px;
}

@-moz-document url-prefix() {
    .platform-logo>img.olx-tag {
        top: 5px;
    }
    .platform-logo>img {
        top: 3px;
    }
    .listing-property-profolio .table-listdate.multirow .listed-date .intimation-icon {
        right: 27px !important;
    }
    #inventory_result .table-listdate.multirow .listed-date .intimation-icon {
        right: 19px !important;
    }
    .option_listing_table {
        top: 3px;
    }
    .action_btn.olxbtn .option_listing_table {
        top: 1px;
    }
}

@-moz-document url-prefix() {
    .table-listdate.multirow .listed-date.olx-date .intimation-icon {
        top: 18px !important;
    }
    .expired_txt .intimation-icon {
        top: 12px !important;
    }
    .table-listdate.multirow .listed-date.z-date .intimation-icon {
        right: 21px !important;
    }
    .table-listdate.multirow .listed-date.olx-date .intimation-icon {
        right: 21px !important;
    }
}

.icon-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 92px;
    display: inline-block;
    float: left;
    margin-top: 5px;
}

.icon-list.olx_container_cta {
    margin-top: 6px;
}

.icon-list li {
    display: inline-block;
    width: 20px;
}

.icon-list li img {
    width: 20px;
    height: 20px;
}

.icon-list li a {
    display: block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

.icon-list li a.super-hot-icon {
    background: url(https://assets.zameen.com/profolio/images/superhot_off.png) repeat-x;
}

.icon-list li a.super-hot-icon:hover,
.super-hot-icon-active {
    background: url(https://assets.zameen.com/profolio/images/superhot_on.png) repeat-x;
}

.icon-list li a.hot-icon {
    background: url(https://assets.zameen.com/profolio/images/hot_off.png) repeat-x;
}

.icon-list li a.hot-icon:hover,
.hot-icon-active {
    background: url(https://assets.zameen.com/profolio/images/hot_on.png) repeat-x;
}

.icon-list li a.refresh-icon {
    background: url(https://assets.zameen.com/profolio/images/refresh_off.png) repeat-x;
}

.icon-list li a.refresh-icon:hover,
.refresh-icon-active {
    background: url(https://assets.zameen.com/profolio/images/refresh_on.png) repeat-x;
}

.icon-list li a.featured-icon,
.icon-list li a.featured-icon-disabled {
    background: url(https://assets.zameen.com/profolio/images/featured_off.png) repeat-x;
}

.icon-list li a.featured-icon:hover,
.featured-icon-active {
    background: url(https://assets.zameen.com/profolio/images/featured_on.png) repeat-x !important;
}

.icon-list li a.boost-icon,
.icon-list li a.boost-icon-disabled {
    background: url(https://assets.zameen.com/profolio/images/boost_off.png) repeat-x;
}

.icon-list li a.boost-icon:hover,
.boost-icon-active {
    background: url(https://assets.zameen.com/profolio/images/boost_on.png) repeat-x !important;
}

.icon-list li a.story-icon,
.icon-list li a.story-icon-disabled {
    background: url(https://assets.zameen.com/profolio/images/disabled_story_ad_icon.svg) no-repeat;
}

.icon-list li a.story-icon:hover,
.story-icon-active {
    background: url(https://assets.zameen.com/profolio/images/active_story_ad_icon.svg) no-repeat !important;
}

button:focus {
    outline: none;
}

.action_td {
    width: 70px;
    display: inline-block;
}

.action_btn {
    width: 41px;
    display: inline-block;
}

.action_btn .dropdown.olx-btn {
    position: relative;
    top: 6px !important;
    ;
}

.action_btn .dropdown {
    position: relative;
    top: 3px !important;
}

/* Dropdown Button */

.dropbtn {
    background-color: transparent;
    color: #333333;
    padding: 4px 7px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border: 1px solid #E6E6E6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

.col-tr-3-mr10 {
    margin-left: 15px;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 168px;
    z-index: 1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #DFDFDF;
    padding: 5px 0px;
    margin-top: 3px;
    left: -156px;
    transition: opacity 0.8s ease-in-out;
    bottom: 30px;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 3px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    color: #00A651;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

.dp_list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.dp_list li {
    margin-bottom: 0px;
}

.dp_list li span {
    margin-right: 2px;
    width: 18px;
    display: inline-block;
    position: relative;
    top: 5px;
    float: none !important;
}

.dp_list li span img {
    width: 18px;
    max-height: 18px;
}

.dp_list li a {
    font-size: 12px;
    color: #000000;
}

.action_btn.olxbtn .dropdown.olx-btn .dropdown-content .dp_list li span img {
    position: relative;
    top: 0px;
}

.action_btn.zbtn .dropdown .dropdown-content .dp_list li span img {
    position: relative;
    top: -1px;
}

.action_btn .dropdown .dropdown-content .dp_list li a {
    font-size: 12px;
    color: #000000;
    font-weight: 600;
    font-family: 'lato', sans-serif;
    padding: 1px 8px 4px 8px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #000;
    display: inline-block;
    position: relative;
    top: -2px;
    overflow: auto !important;
    padding: 0px !important;
    width: auto !important;
}

#quotadiv_heading {
    padding-right: 0px;
    overflow: hidden;
}

#overDiv {
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E2E2E2 !important;
    border-radius: 6px !important;
}

.popup .popup_tl {
    background: transparent !important;
}

.popup_b {
    background: transparent !important;
}

.olib_title {
    background-color: #ffffff !important;
}

.popup_content div {
    color: #1F1F1F !important;
    font-size: 12px !important;
    margin-bottom: 5px;
    line-height: 14px;
    margin-top: 0px;
    font-family: Arial !important;
}

.olib_title div {
    color: #000000 !important;
}

.popup .popup_tr,
.popup .popup_br,
.popup .popup_bl {
    background: transparent !important;
}

.popup_content table {
    background-color: #ffffff !important;
}

.popup_content input[type="button"] {
    background-color: #0793EA;
    color: #ffffff;
    border: 0px;
    height: 25px;
    width: 86px;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 12px;
}

.popup_content input[type="button"].ob_yes {
    margin-right: 10px;
}

.olib_title .red_cross {
    background: url('https://assets.zameen.com/profolio/images/close_btn.svg') !important;
    width: 10px;
    height: 10px;
}

.clearfix {
    clear: both;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.bold {
    font-weight: 700;
}

.olx-dashboard {
    padding: 5px;
}

.olx-dashboard ul {}

.olx-dashboard ul li h2 {
    background-color: #F5F5F5;
    padding: 5px 10px;
    margin: 0px;
    width: 94%;
    font-size: 12px;
    line-height: 14px;
    color: #1F1F1F;
}

.olx-dashboard ul li {
    width: 307px;
    list-style-type: none;
    margin-right: 10px;
}

.olx-dashboard ul li div {
    width: 94%;
}

.olx-dashboard ul li .color-light {
    background-color: #f5f5f5;
    padding: 5px 10px;
}

.olx-dashboard ul li .color-dark {
    background-color: #E6E6E6;
    padding: 5px 10px;
}

.olx-dashboard ul li div span {
    width: 49%;
    font-size: 12px;
    line-height: 14px;
    color: #1F1F1F;
}

.olx-dashboard ul.contact-boosted {
    width: 720px;
    margin: 10px 0px;
}

.olx-dashboard .contact-boosted li {
    list-style-type: none;
    padding-left: 25px;
    margin-bottom: 8px;
    position: relative;
    width: 282px;
    font-size: 10px;
    line-height: 11px;
}

.olx-dashboard .contact-boosted li.icon-call:before {
    background-image: url('https://assets.zameen.com/profolio/images/call_icon_boost_quota1_2.svg');
    position: absolute;
    content: "";
    left: 8px;
    top: 0px;
    width: 12px;
    height: 12px;
}

#buy-olx-credit-wrapper {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.buy-olx-popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    max-width: 645px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

.close_btn {
    cursor: pointer;
    position: absolute;
    left: auto;
    right: 26.7px;
    top: 26.7px;
    width: 11px;
    height: 11px;
    background-image: url('https://assets.zameen.com/profolio/images/close_btn.svg');
    background-repeat: no-repeat;
}

.credit-runout-featured .content {
    padding: 24px 95px;
}

.credit-runout-featured .content .olx-zameen {
    background-image: url("https://assets.zameen.com/profolio/images/olx_logo.svg");
    width: 81px;
    height: 47px;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

/*.credit-runout-featured .content .olx-zameen:before{position: absolute;top: 1px;right: -9px;content: "";background-image: url(https://assets.zameen.com/profolio/images/profolio_quota_icon_error1_1.svg);width: 20px;height: 20px;}*/

.credit-runout-featured .title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    text-align: center;
    padding: 0px 12px;
    color: #1F1F1F;
}

.credit-runout-featured .title .featured {
    width: 78px;
    height: 23px;
    background-image: url(https://assets.zameen.com/profolio/images/featured_tag1_2.svg);
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    top: 2px;
    margin: 0px 5px;
}

.credit-runout-featured .discription {
    padding-top: 12px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
    color: #1F1F1F;
    font-weight: 400;
}

.credit-runout-featured .contact-detials {
    margin: 32px 0px 0px;
    width: 100%;
    position: relative;
    padding: 0;
}

.credit-runout-featured .contact-detials li {
    text-decoration: none;
    list-style-type: none;
}

.credit-runout-featured .contact-detials li h3 {
    text-align: center;
    color: #A3A3A3;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding: 0px 0px 4px;
    margin: 0;
    font-weight: 700;
}

.credit-runout-featured .contact-detials li p {
    text-align: center;
    color: #1F1F1F;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0;
}

.cta-disabled {
    color: #cccccc !important;
}

.olx-half-opacity {
    opacity: 0.5;
}

.col-9::-webkit-scrollbar-track {
    background: #707070;
    border-radius: 8px;
    border-color: #707070;
    -webkit-box-shadow: inset 0 0 6px #707070;
    box-shadow: inset 0 0 6px #707070
}

.col-9::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 8px;
    border-color: #707070;
    -webkit-box-shadow: inset 0 0 6px #707070;
    box-shadow: inset 0 0 6px #707070
}

.col-9::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #707070 transparent;
    border-radius: 8px;
}

.col-9::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #707070 transparent;
    border-radius: 8px;
}

/* Down */

.col-9::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #707070 transparent transparent transparent;
    border-radius: 8px;
}

.col-9::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #707070 transparent transparent transparent;
    border-radius: 8px;
}

.olx-border-transparent {
    border-color: transparent !important;
}

.paginate a {
    padding: 2px 6px !important;
}

.option_listing_table {
    background-image: url('https://assets.zameen.com/profolio/images/zameen_options_listing_table1_1.svg');
    width: 20px;
    height: 20px;
    border: 0px;
    position: relative;
}

.action_btn.zbtn .option_listing_table {
    top: 3px;
}

.action_btn.olxbtn .option_listing_table {
    top: 1px;
}

/*================ DropDown Table Listing ============*/

.dropbtn-tab-listing {
    width: 137px;
    border: 1px solid var(--type-grey-4-5);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 6px 12px 6px 40px;
    opacity: 1;
    margin-right: 25px;
    margin-top: 11px;
    text-align: left;
    position: relative;
    cursor: pointer;
}

.dropbtn-tab-listing img {
    position: relative;
    top: 2px
}

.dropdown-table-listing label {
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    font-family: 'arial';
    letter-spacing: 0px;
    color: #1F1F1F;
    margin-right: 11px;
}

.label-platform-table {
    position: absolute;
    right: 162px;
    top: 28px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    font-family: 'arial';
    letter-spacing: 0px;
    color: #1F1F1F;
    margin-right: 11px;
}

.dropdown-table-listing {
    position: relative;
    display: inline-block;
}

.dropdown-content-tab-listing {
    width: 137px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    list-style-type: none;
    padding: 8px 0px;
    margin: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    box-sizing: border-box;
}

.dropdown-content-tab-listing li {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #000000;
    font-family: 'arial';
    cursor: pointer;
    position: relative;
    padding-left: 40px;
}

.dropdown-content-tab-listing li img {
    margin-right: 8px;
    top: 3px;
    position: relative;
}

.dropdown-content-tab-listing li:last-of-type {
    margin-bottom: 0;
}

.dropdown:hover .dropdown-content-tab-listing {
    display: block;
}

/*================ DropDown Table Inventory Search ============*/

.frm_inventorysearch .dropbtn-tab-listing {
    margin-top: 0px;
    position: relative;
}

.searchbox div label.search_label.platform {
    line-height: 29px;
}

.searchbox div.search_div.dropbox-platform {
    margin-bottom: 10px;
}

.dropbtn-tab-listing:after {
    background-image: url('https://assets.zameen.com/profolio/images/icon_dropdown_inventory_list1_1.png');
    background-repeat: no-repeat;
    width: 9px;
    height: 5px;
    position: absolute;
    right: 15px;
    top: 52%;
    transform: translateY(-52%);
    left: auto;
    content: "";
}

.show {
    display: block;
}

.listing-platform-all:before {
    position: absolute;
    left: 12px;
    right: auto;
    top: 45%;
    transform: translateY(-45%);
    background-image: url('https://assets.zameen.com/profolio/images/checked_dropdown_inventory_list.svg');
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    content: "";
}

.listing-platform-zameen:before {
    position: absolute;
    left: 12px;
    right: auto;
    top: 45%;
    transform: translateY(-45%);
    background-image: url('https://assets.zameen.com/profolio/images/zameen_dropdown_inventory_list.svg');
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    content: "";
}

.listing-platform-olx:before {
    position: absolute;
    left: 12px;
    right: auto;
    top: 45%;
    transform: translateY(-45%);
    background-image: url('https://assets.zameen.com/profolio/images/olx_dropdown_inventory_list.svg');
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    content: "";
}

.dropbtn-tab-listing.listing-platform-olx:before {
    top: 14px;
}

.shot-tooltip-head {
    color: #FC1B2E !important;
}

.hot-tooltip-head {
    color: #F88700 !important;
}

.refresh-tooltip-head {
    color: #00A3EE !important;
}

.boost-tooltip-head {
    color: #0071FF !important;
}

.featured-tooltip-head {
    color: #F9DD3B !important;
}

/*=============== Story Ads =========== */

.box-story-add {
    padding: 10px 15px;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Lato', sans-serif;
}

h2.heading-story-ad {
    font-size: 14px;
    font-weight: 700;
    color: #00a651;
    line-height: 14px;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

p.descp-story {
    font-size: 12px;
    font-weight: 400;
    color: #1F1F1F;
    line-height: 14px;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding-top: 10px;
}

ul.story-ad-list {
    list-style-type: none;
    padding: 0px;
    width: 200px;
    height: 75px;
}

ul.story-ad-list li {
    width: 95px;
    float: left;
    margin-bottom: 10px;
}

ul.story-ad-list li h3 {
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    color: #1f1f1f;
}

ul.story-ad-list li p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 0px;
    color: #1f1f1f;
}

.clearfix {
    clear: both;
}

.btn-story-ad {
    background-color: #00a651;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    display: block;
    font-family: 'Lato', sans-serif;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    border-radius: 4px;
}

.btn-story-ad.remove {
    background-color: transparent;
    border: 1px solid #E83A3A;
    color: #E83A3A;
}
